@layer utilities {
  .cut-corners {
    clip-path: polygon(0 16.00px, 16.00px 0, calc(100% - 16.00px) 0, 100% 16.00px, 100% calc(100% - 16.00px), calc(100% - 16.00px) 100%, 16.00px 100%, 0 calc(100% - 16.00px));
  }

  .cut-corners-borders {
    position: relative;
    /* --mask:    */
    /* linear-gradient( 45deg,#0000 11.31px, #000 0 calc(11.31px +  4px), #0000 0 calc(100% - 11.31px -  4px), #000 0 calc(100% - 11.31px), #0000 0), */
    /* linear-gradient(-45deg,#0000 11.31px, #000 0 calc(11.31px +  4px), #0000 0 calc(100% - 11.31px -  4px), #000 0 calc(100% - 11.31px), #0000 0), */
    /* linear-gradient(90deg ,#000 4px,#0000 0 calc(100% -  4px),#000 0) 50%/100% calc(100% - 32px) no-repeat, */
    /* linear-gradient(180deg,#000 4px,#0000 0 calc(100% -  4px),#000 0) 50%/calc(100% - 32px) 100% no-repeat; */
    clip-path: polygon(0 16.00px, 16.00px 0, calc(100% - 16.00px) 0, 100% 16.00px, 100% calc(100% - 16.00px), calc(100% - 16.00px) 100%, 16.00px 100%, 0 calc(100% - 16.00px));
  }

  .cut-corners-borders:before {
    content: "";
    background-color: #ffffff;
    /* position: absolute; */
    /* inset: 0; */
    /* -webkit-mask: var(--mask); */
    /* mask: var(--mask); */

    position: absolute;
    inset: 0;
    clip-path: polygon(0 16.00px, 16.00px 0, calc(100% - 16.00px) 0, 100% 16.00px, 100% calc(100% - 16.00px), calc(100% - 16.00px) 100%, 16.00px 100%, 0 calc(100% - 16.00px), 0 16.00px, 2px calc(16.00px + 1.66px), 2px calc(100% - 16.00px - 1.66px), calc(16.00px + 1.66px) calc(100% - 2px), calc(100% - 16.00px - 1.66px) calc(100% - 2px), calc(100% - 2px) calc(100% - 16.00px - 1.66px), calc(100% - 2px) calc(16.00px + 1.66px), calc(100% - 16.00px - 1.66px) 2px, calc(16.00px + 1.66px) 2px, 2px calc(16.00px + 1.66px));
  }

  .bezeled-border-hole {
    /*clip-path: polygon(0 8.00px,8.00px 0,100% 0,100% 100%,8.00px 100%,0 calc(100% - 8.00px));*/
  }
}
