@layer utilities {
	#sidebar-list, #message-list {
		scrollbar-color: transparent transparent;
		scrollbar-width: thin;
		/* scroll-margin-left: 0.5em; */
		scrollbar-gutter: stable;

		&::-webkit-scrollbar {
			background-color: transparent;
			width: 2px;
			/* margin-left: 0.5em; */

			/* does not work: */
			/* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
			/* transition-duration: 500ms; */
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 100%;
			background-color: transparent;
		}

		&:hover {
			scrollbar-color: rgba(255, 255, 255, 0.3) transparent;

			&::-webkit-scrollbar-thumb {
				background-color: rgba(255, 255, 255, 0.3);
			}
		}
	}
}
