@layer components {
  .tiptap {
    div, label, li {
      margin: 0;
    }

    ul[data-type="taskList"] {
      list-style: none;
      padding: 0;

      p {
        margin: 0;
      }

      li {
        display: flex;

        > label {
          flex: 0 0 auto;
          margin-right: 0.5rem;
          user-select: none;
        }

        > div {
          flex: 1 1 auto;
        }

        ul li,
        ol li {
          display: list-item;
        }

        ul[data-type="taskList"] > li {
          display: flex;
        }
      }
    }
  }
}
